.cache/
node_modules/
/bin
/src/usr/local/buildpack/version
/src/opt/containerbase/bin/containerbase-cli-*
/src/opt/containerbase/version
/dist

.eslintcache

# yarn v2+ https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
# !.yarn/releases
!.yarn/sdks
!.yarn/versions
