name: build

on:
  workflow_call:
    secrets:
      DOCKER_USERNAME:
        required: false
      DOCKER_PASSWORD:
        required: false

env:
  DRY_RUN: ${{ github.ref != 'refs/heads/main' }}
  OWNER: ${{ github.repository_owner }}
  FILE: buildpack
  DOCKER_BUILDKIT: 1
  NODE_VERSION: v16.13.0 # renovate: datasource=node depName=node
  APT_HTTP_PROXY: http://172.17.0.1:8000

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: lint
        run: yarn lint

      - name: shellcheck
        uses: reviewdog/action-shellcheck@96c6653098ad696d9441d726c0593866671872f2 # tag=v1.14.0
        with:
          fail_on_error: true
          reporter: github-check
          filter_mode: nofilter
          path: src
          pattern: '*.sh'
          check_all_files_with_shebangs: 'true'

  bats:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: bats
        run: yarn bats

  distro:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        distro: [bionic]

    env:
      TAG: ${{ matrix.distro }}

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: prepare apt proxy
        run: sudo yarn prepare:proxy

      - name: test distro
        run: docker buildx bake --progress plain test-distro

  lang:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        tag:
          [
            dotnet,
            erlang,
            flux,
            golang,
            java,
            jb,
            helm,
            nix,
            node,
            php,
            powershell,
            python,
            ruby,
            rust,
            swift,
            latest,
          ]

    env:
      TAG: ${{ matrix.tag }}

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: prepare apt proxy
        run: sudo yarn prepare:proxy

      - name: build
        run: docker buildx bake --progress plain

      - name: images
        run: docker image ls

      - name: test
        run: docker buildx bake --progress plain test

  release:
    needs: [lint, bats, lang, distro]
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: docker-config
        uses: renovatebot/internal-tools@954f28ddde48535316fcca14542e0f5d698e73ad # tag=v1.12.2
        with:
          command: docker-config

      # full checkout for semantic-release
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3.0.0
        with:
          fetch-depth: 0

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # tag=v3.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Init platform
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global user.email 'renovate@whitesourcesoftware.com'
          git config --global user.name  'Renovate Bot'
          yarn config set version-git-tag false
          npm config set scripts-prepend-node-path true
          echo "CACHE_WEEK=$(date +%U)" >> $GITHUB_ENV

      - name: Docker registry login
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: prepare apt proxy
        run: sudo yarn prepare:proxy

      - name: semantic-release
        if: github.event_name == 'push'
        run: yarn semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
