name: build

on:
  workflow_call:
    secrets:
      DOCKER_USERNAME:
        required: false
      DOCKER_PASSWORD:
        required: false

env:
  OWNER: ${{ github.repository_owner }}
  FILE: base
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_LOAD: 1
  CONTAINERBASE_VERSION: ${{ github.sha }}
  APT_HTTP_PROXY: http://172.17.0.1:8000

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node
        with:
          save-cache: true

  lint:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15
    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: lint
        run: |
          pnpm eslint -f gha
          pnpm prettier
          pnpm lint:types

      - name: shellcheck
        if: ${{ github.event_name != 'merge_group' }}
        uses: reviewdog/action-shellcheck@96fa305c16b0f9cc9b093af22dcd09de1c8f1c2d # v1.19.0
        with:
          fail_on_error: true
          reporter: github-check
          filter_mode: nofilter
          path: src
          pattern: '*.sh'
          check_all_files_with_shebangs: 'true'

  bats:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: Install ubuntu dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install -y libarchive-tools

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: build
        run: pnpm build

      - name: bats
        run: pnpm test:bats

  vitest:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: vitest
        run: pnpm test:vitest

      - name: Codecov
        uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3.1.6

  base:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: prepare apt proxy
        run: sudo pnpm prepare:proxy

      - name: build
        run: pnpm build

      - name: test distro
        run: docker buildx bake

  distro:
    runs-on: ubuntu-latest
    needs:
      - base
      - bats
      - lint
      - vitest
    timeout-minutes: 30

    strategy:
      matrix:
        distro:
          - jammy

    env:
      TAG: ${{ matrix.distro }}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: prepare apt proxy
        run: sudo pnpm prepare:proxy

      - name: build
        run: pnpm build

      - name: test distro
        run: docker buildx bake test-distro

  lang:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.tag }} (${{ matrix.os == 'ubuntu-latest' && 'amd64' || 'arm64' }})
    needs:
      - base
      - bats
      - lint
      - vitest
    timeout-minutes: 30

    strategy:
      matrix:
        tag:
          - dart
          - dotnet
          - erlang
          - flutter
          - flux
          - golang
          - java
          - jb
          - helm
          - nix
          - node
          - php
          - powershell
          - python
          - ruby
          - rust
          - swift
          - latest
        os:
          - ubuntu-latest
          - macos-14 # https://github.blog/changelog/2024-01-30-github-actions-introducing-the-new-m1-macos-runner-available-to-open-source/

    env:
      TAG: ${{ matrix.tag }}

    steps:
      - name: install docker
        if: runner.os == 'macos'
        run: |
          # macos-14 is missing colima
          brew install colima docker docker-buildx

          # Link plugins to docker
          mkdir -p ~/.docker/cli-plugins
          ln -sfn $(which docker-buildx) ~/.docker/cli-plugins

          # start docker
          colima start --mount-type 9p

          # disable apt proxy on macos
          echo 'APT_HTTP_PROXY=' >> $GITHUB_ENV

      - name: docker-config
        uses: containerbase/internal-tools@6bbc5c952921fd03b8bb242934e57dc8d3d2be1b # v3.0.51
        with:
          command: docker-config

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          show-progress: false

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: prepare apt proxy
        if: runner.os == 'linux'
        run: sudo pnpm prepare:proxy

      - name: build
        run: pnpm build

      - name: test
        run: docker buildx bake test-${{ runner.arch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
