name: build

on:
  push:
    branches:
      - main
      - 'renovate/**'

  pull_request:

env:
  DRY_RUN: ${{ github.ref != 'refs/heads/main' }}
  OWNER: ${{ github.repository_owner }}
  FILE: buildpack
  DOCKER_BUILDKIT: 1
  YARN_MODULES_CACHE_KEY: v1
  YARN_PACKAGE_CACHE_KEY: v1
  YARN_CACHE_FOLDER: .cache/yarn
  NODE_VERSION: 14

jobs:
  test:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    strategy:
      matrix:
        tag:
          [
            dotnet,
            erlang,
            golang,
            java,
            helm,
            node,
            php,
            powershell,
            python,
            ruby,
            rust,
            swift,
            latest,
          ]

    steps:
      - uses: actions/checkout@v2.3.4

      - name: docker-config
        uses: renovatebot/internal-tools@v1.5.3
        with:
          command: docker-config

      - name: build
        run: docker buildx bake --progress plain

      - name: test
        run: docker buildx build --progress plain ./test/${{ matrix.tag }}

  distro:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    strategy:
      matrix:
        distro: [bionic]

    steps:
      - uses: actions/checkout@v2.3.4

      - name: docker-config
        uses: renovatebot/internal-tools@v1.5.3
        with:
          command: docker-config

      - name: test distro
        run: docker buildx bake --progress plain test

  release:
    needs: [test, distro]
    runs-on: ubuntu-latest

    timeout-minutes: 15

    steps:
      - name: docker-config
        uses: renovatebot/internal-tools@v1.5.3
        with:
          command: docker-config

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Init platform
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global user.email 'renovate@whitesourcesoftware.com'
          git config --global user.name  'Renovate Bot'
          yarn config set version-git-tag false
          npm config set scripts-prepend-node-path true

      # full checkout for semantic-release
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Docker registry login
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Cache Yarn packages
        uses: actions/cache@v2.1.4
        with:
          path: ${{ env.YARN_CACHE_FOLDER }}
          key: ${{ env.YARN_PACKAGE_CACHE_KEY }}-${{ runner.os }}-yarn_cache-${{ hashFiles('**/yarn.lock') }}

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: semantic-release
        run: npx semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
