name: build

on:
  workflow_call:

env:
  OWNER: ${{ github.repository_owner }}
  FILE: base
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_LOAD: 1
  CONTAINERBASE_VERSION: ${{ github.sha }}
  APT_HTTP_PROXY: http://172.17.0.1:8000
  HUSKY: 0

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    outputs:
      uid: ${{ steps.init.outputs.uid }}

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7
        with:
          save-cache: true

      - name: ⚙️ Init
        id: init
        run: echo "uid=$(uuidgen)" >> ${GITHUB_OUTPUT}

  lint:
    runs-on: ubuntu-24.04
    needs: setup
    timeout-minutes: 15
    permissions:
      contents: read
      checks: write

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: lint
        run: |
          pnpm eslint -f gha
          pnpm prettier
          pnpm lint:markdown
          pnpm lint:types

      - name: shellcheck
        if: ${{ github.event_name != 'merge_group' }}
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          fail_level: any
          reporter: github-pr-annotations
          filter_mode: nofilter
          path: |
            src
            .husky
          pattern: |
            *.sh
            *.bats
          check_all_files_with_shebangs: 'true'

  bats:
    runs-on: ubuntu-24.04
    needs: setup
    timeout-minutes: 15

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: Install ubuntu dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install -y libarchive-tools

      - name: build
        run: pnpm build

      - name: bats
        run: pnpm test:bats

  vitest:
    runs-on: ubuntu-24.04
    needs: setup
    timeout-minutes: 15
    permissions:
      id-token: write

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: vitest
        run: pnpm test:vitest

      - name: Codecov test results
        if: github.event_name != 'merge_group' && !cancelled()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          report_type: test_results

      - name: Codecov coverage results
        if: github.event_name != 'merge_group'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true

  build:
    runs-on: ubuntu-24.04
    needs: setup
    timeout-minutes: 15

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: build
        run: pnpm build

      - name: upload dist
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: |
            dist/

  base:
    runs-on: ${{ matrix.arch.os }}
    name: base (${{ matrix.arch.name }})
    needs:
      - setup
      - build

    strategy:
      fail-fast: false
      matrix:
        arch:
          - name: x86_64
            os: ubuntu-24.04
            tag: amd64
          - name: aarch64
            os: ubuntu-24.04-arm
            tag: arm64

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: Check system
        uses: ./.github/actions/check

      - name: ⚙️ Init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}
          echo "BASE=ttl.sh/${{ needs.setup.outputs.uid }}/${{ matrix.arch.tag }}:1d" >> ${GITHUB_ENV}

      - name: prepare apt proxy
        uses: ./.github/actions/prepare-proxy

      - name: fetch dist
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist

      - name: fix executable
        run: |
          chmod +x dist/cli/*
          chmod +x dist/docker/usr/local/containerbase/bin/*
          chmod +x dist/docker/usr/local/sbin/*

      - name: test distro
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 60
          polling_interval_seconds: 5
          command: docker buildx bake --set build-ttl.tags=${{env.BASE}} build-ttl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # CONTAINERBASE_CDN: ${{ vars.CONTAINERBASE_CDN }}

  distro:
    runs-on: ubuntu-24.04
    needs:
      - bats
      - lint
      - vitest
      - build

    strategy:
      fail-fast: false
      matrix:
        distro:
          - jammy
          - noble

    env:
      TAG: ${{ matrix.distro }}

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: Check system
        uses: ./.github/actions/check

      - name: ⚙️  Init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: prepare apt proxy
        uses: ./.github/actions/prepare-proxy

      - name: fetch dist
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist

      - name: fix executable
        run: |
          chmod +x dist/cli/*
          chmod +x dist/docker/usr/local/containerbase/bin/*
          chmod +x dist/docker/usr/local/sbin/*

      - name: test distro
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 60
          polling_interval_seconds: 5
          command: docker buildx bake test-distro --set settings.secrets=type=env,id=GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # CONTAINERBASE_CDN: ${{ vars.CONTAINERBASE_CDN }}

  # test old distros on arm64
  base-arm64:
    runs-on: ubuntu-24.04-arm
    needs:
      - bats
      - lint
      - vitest
      - build
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        distro:
          - focal
          - jammy

    env:
      TAG: ${{ matrix.distro }}

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: Check system
        uses: ./.github/actions/check

      - name: ⚙️  Init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: prepare apt proxy
        uses: ./.github/actions/prepare-proxy

      - name: fetch dist
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist

      - name: fix executable
        run: |
          chmod +x dist/cli/*
          chmod +x dist/docker/usr/local/containerbase/bin/*
          chmod +x dist/docker/usr/local/sbin/*

      - name: test distro
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 60
          polling_interval_seconds: 5
          command: docker buildx bake test-base --set settings.secrets=type=env,id=GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # CONTAINERBASE_CDN: ${{ vars.CONTAINERBASE_CDN }}

  lang:
    runs-on: ${{ matrix.arch.os }}
    name: ${{ matrix.tag }} (${{ matrix.arch.name }})
    needs:
      - setup
      - base
      - bats
      - lint
      - vitest

    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        tag:
          - dart
          - dotnet
          - erlang
          - flutter
          - flux
          - golang
          - java
          - jb
          - helm
          - nix
          - node
          - php
          - powershell
          - python
          - ruby
          - rust
          - swift
          - latest
        arch:
          - name: x86_64
            os: ubuntu-24.04
            tag: amd64
          - name: aarch64
            os: ubuntu-24.04-arm
            tag: arm64

    env:
      TAG: ${{ matrix.tag }}

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@84b315a638cdbbd4b904a355176752e075dbbe4a # v4.1.7

      - name: Check system
        uses: ./.github/actions/check

      - name: ⚙️ Init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}
          echo "BASE_IMAGE=ttl.sh/${{ needs.setup.outputs.uid }}/${{ matrix.arch.tag }}:1d" >> ${GITHUB_ENV}

      - name: prepare apt proxy
        uses: ./.github/actions/prepare-proxy

      - name: test
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 60
          polling_interval_seconds: 5
          command: docker buildx bake test-${{ matrix.arch.name }} --set settings.secrets=type=env,id=GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # CONTAINERBASE_CDN: ${{ vars.CONTAINERBASE_CDN }}

  # Catch-all required check for test matrix
  test-success:
    needs:
      - base-arm64
      - distro
      - lang
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled distro tests
        if: |
          needs.base-arm64.result == 'failure' ||
          needs.base-arm64.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled distro tests
        if: |
          needs.distro.result == 'failure' ||
          needs.distro.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled lang tests
        if: |
          needs.lang.result == 'failure' ||
          needs.lang.result == 'cancelled'
        run: exit 1
