name: build

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: false

env:
  OWNER: ${{ github.repository_owner }}
  FILE: base
  BUILDKIT_PROGRESS: plain
  BUILDX_NO_DEFAULT_LOAD: 1
  CONTAINERBASE_VERSION: ${{ github.sha }}
  APT_HTTP_PROXY: http://172.17.0.1:8000
  HUSKY: 0

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node
        with:
          save-cache: true

  lint:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15
    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: lint
        run: |
          pnpm eslint -f gha
          pnpm prettier
          pnpm lint:types

      - name: shellcheck
        if: ${{ github.event_name != 'merge_group' }}
        uses: reviewdog/action-shellcheck@72365a51bf6476fe952a117c3ff703eb7775e40a # v1.20.0
        with:
          fail_on_error: true
          reporter: github-check
          filter_mode: nofilter
          path: |
            src
            .husky
          pattern: |
            *.sh
            *.bats
          check_all_files_with_shebangs: 'true'

  bats:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: Install ubuntu dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install -y libarchive-tools

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: build
        run: pnpm build

      - name: bats
        run: pnpm test:bats

  vitest:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: vitest
        run: pnpm test:vitest

      - name: Codecov
        uses: codecov/codecov-action@5ecb98a3c6b747ed38dc09f787459979aebb39be # v4.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  base:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: prepare apt proxy
        run: sudo pnpm prepare:proxy

      - name: build
        run: pnpm build

      - name: test distro
        run: docker buildx bake

  distro:
    runs-on: ubuntu-latest
    needs:
      - base
      - bats
      - lint
      - vitest
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        distro:
          - jammy
          - noble

    env:
      TAG: ${{ matrix.distro }}

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: prepare apt proxy
        run: sudo pnpm prepare:proxy

      - name: build
        run: pnpm build

      - name: test distro
        run: docker buildx bake test-distro

  lang:
    runs-on: ubuntu-latest
    needs:
      - base
      - bats
      - lint
      - vitest
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        tag:
          - dart
          - dotnet
          - erlang
          - flutter
          - flux
          - golang
          - java
          - jb
          - helm
          - nix
          - node
          - php
          - powershell
          - python
          - ruby
          - rust
          - swift
          - latest

    env:
      TAG: ${{ matrix.tag }}

    steps:
      - name: docker-config
        uses: containerbase/internal-tools@9f7fee1b8ad23efad8e02d0e7afd2cae63532add # v3.0.86
        with:
          command: docker-config

      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          show-progress: false

      - name: init
        run: |
          echo "OWNER=${OWNER,,}" >> ${GITHUB_ENV}

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: prepare apt proxy
        run: sudo pnpm prepare:proxy

      - name: build
        run: pnpm build

      - name: test
        run: docker buildx bake test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
